In [23]:
import pandas as pd

# Variant 1
customer_df = pd.DataFrame({'customer_id': [1], \
                            'email': ['jane.doe@theweb.com'], \
                       })

customer_df

# Variant 2 (equivalent to Variant 2)
customer_df  = pd.DataFrame([[1, 'jane.doe@theweb.com']])  
customer_df.columns = ['customer_id', 'email']

customer_df

split_email = customer_df.email.str.split('@', expand=True)


customer_df = customer_df.assign(
    username=split_email[0],
    domain=split_email[1],
)

customer_df

   customer_id                email  username      domain
0            1  jane.doe@theweb.com  jane.doe  theweb.com

In [1]:
import pyspark.sql

# spark is a Spark session object
spark = pyspark.sql.SparkSession.builder.getOrCreate()

# can read from database:
spark.read.jdbc('jdbc:postgresql://localhost:5432/pagila', 
'customer',
properties = {'user': 'repl', 'password': 'password'})

In [6]:
import pandas as pd

customer_df = pd.DataFrame([[1, 'Jane', 'Doe'],
                            [2, 'Joe', 'Doe']])
customer_df.columns = ['customer_id', 'first_name', 'last_name']


ratings_df = pd.DataFrame([[1, 2, 1],
                           [2, 1, 5],
                           [2, 2, 3]])
ratings_df.columns = ['customer_id', 'film_id', 'rating']

   customer_id first_name last_name
0            1       Jane       Doe
1            2        Joe       Doe

## Joining in Spark:

In [16]:
# Group ratings by customer_id:
ratings_per_customer = ratings_df.groupby('customer_id').mean('rating')
ratings_per_customer


# Join with customer dataframe:
# Note: 'merge' is used
customer_df.merge(
    ratings_per_customer,
    left_on='customer_id', right_on='customer_id'
)

   customer_id first_name last_name  film_id  rating
0            1       Jane       Doe      2.0     1.0
1            2        Joe       Doe      1.5     4.0

In [11]:
import pandas as pd

customer_df = pd.DataFrame([[1, 'jane.doe@theweb.com', 'Jane', 'Doe'],
                            [2, 'joe.doe@theweb.com', 'Joe', 'Doe']])
customer_df.columns = ['customer_id', 'email', 'first_name', 'last_name']

split_email = customer_df.email.str.split('@', expand=True)

customer_df = customer_df.assign(
    username = split_email[0],
    domain=split_email[1]
)

In [ ]:
# Transform exercise:

# Get the rental rate column as a string
rental_rate_str = film_df.rental_rate.astype("str")

# Split up and expand the column
rental_rate_expanded = rental_rate_str.str.split(".", expand=True)

# Assign the columns to film_df
film_df = film_df.assign(
    rental_rate_dollar = rental_rate_expanded[0],
    rental_rate_cents = rental_rate_expanded[1]
)

In [ ]:
# Joining film and rating tables:

# Use groupBy and mean to aggregate the column
ratings_per_film_df = rating_df.groupBy('film_id').mean('rating')

# Join the tables using the film_id column
film_df_with_ratings = film_df.join(
    ratings_per_film_df,
    film_df.film_id== ratings_per_film_df.film_id
)

# Show the 5 first results
print(film_df_with_ratings.show(5))